# Frontend
# Kosongkan/default ke /api bila frontend dan backend berada di domain yang sama
VITE_API_BASE_URL=/api

# Backend
PORT=4000
JWT_SECRET=ganti-dengan-secret-minimal-32-karakter-aman
CORS_ORIGIN=http://localhost:3000
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=200
